@import './abstract/variables';
@import './base/utilities';
@import './components/button';
@import './components/composition';
@import './components/feature-box';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	/*inherited from the body element selector */
}

html {
	/*To convert all the pixels into rem i.e. dividing all the values in px by 10 as 1rem will be 10px*/
	font-size: 62.5%;
	/*62.5% of 16px (browser's root font size) is 10px*/
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
	box-sizing: border-box;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
			to right,
			rgba($color-primary, 0.8),
			rgba($color-primary-light, 0.8)
		),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;

	.logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;

		.logo {
			height: 3.5rem;
		}
	}

	.text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);

		text-align: center;

		.heading-primary {
			color: $color-white;
			text-transform: uppercase;

			backface-visibility: hidden;

			margin-bottom: 6rem;

			&-main {
				display: block;
				font-size: 6rem;
				font-weight: 400;
				letter-spacing: 3.5rem;

				animation-name: movetoleft;
				animation-duration: 1s;
				animation-timing-function: ease-out;
			}

			&-sub {
				display: block;
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: 1.74rem;

				animation: movetoright 1s ease-out;
				/* animation-name: movetoright;
                animation-duration: 1s;
                animation-timing-function: ease-out; */
			}
		}

		.btn {
			&:link,
			&:visited {
				text-decoration: none;
				text-transform: uppercase;
				padding: 1.5rem 4rem;
				display: inline-block;

				border-radius: 10rem;
				transition: all 0.2s;
				position: relative;
			}

			&:hover {
				transform: translateY(-0.3rem);
				box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

				&::after {
					transform: scaleX(1.4) scaleY(1.6);
					opacity: 0;
				}
			}

			&:active {
				transform: translateY(-0.1rem);
				box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
			}

			&-white {
				background-color: $color-white;
				color: $color-grey-dark;

				&::after {
					background-color: $color-white;
				}
			}

			/* after pseduo-element */
			&::after {
				content: '';
				display: inline-block;
				height: 100%;
				width: 100%;
				border-radius: 10rem;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;

				transition: all 0.4s;
			}

			&-animation {
				animation: moveupwards 0.5s ease-out 0.75s;
				animation-fill-mode: backwards;
			}
		}
	}
}

@keyframes movetoleft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}

	80% {
		transform: translateX(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes movetoright {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}

	80% {
		transform: translateX(-1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveupwards {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@import './pages/grid';
@import './pages/home';
