.btn-text {
	&:link,
	&:visited {
		font-size: 1.6rem;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 0.1rem solid $color-primary;
		padding: 0.3rem;
		transition: all 0.2sec;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
		transform: translateY(0);
	}
}
